<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4</string>
				<string>com.apple.m4v-video</string>
				<string>com.apple.quicktime-movie</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.sindresorhus.Gifski</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gifski</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MDItemKeywords</key>
	<string>gif,convert,video</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert to GIF with Gifski</string>
			</dict>
			<key>NSMessage</key>
			<string>convertToGIF</string>
			<key>NSPortName</key>
			<string>${EXECUTABLE_NAME}</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.mpeg-4</string>
				<string>com.apple.m4v-video</string>
				<string>com.apple.quicktime-movie</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
