[package]
authors = ["Kornel <kornel@geekhood.net>"]
categories = ["multimedia::video", "command-line-utilities"]
description = "pngquant-based GIF maker for nice-looking animGIFs"
documentation = "https://docs.rs/gifski"
homepage = "https://gif.ski"
include = ["/README.md", "/Cargo.toml", "/src/**/*.rs", "/src/bin/*.rs"]
keywords = ["gif", "encoder", "converter", "maker", "gifquant"]
license = "AGPL-3.0+"
name = "gifski"
readme = "README.md"
repository = "https://github.com/ImageOptim/gifski"
version = "1.6.3"
autobins = false
edition = "2018"

[[bin]]
doctest = false
name = "gifski"

[dependencies]
gifsicle = { version = "1.92.5", optional = true }
clap = "2.34.0"
gif = "0.11.3"
gif-dispose = "3.1.1"
imagequant = "4.0.0-beta.6"
imgref = "1.9.1"
lodepng = "3.4.7"
pbr = "1.0.4"
resize = "0.7.2"
rgb = "0.8.31"
wild = "2.0.4"
natord = "1.0.9"
quick-error = "2.0.1"
dunce = "1.0.2"
crossbeam-channel = "0.5.2"

[dependencies.ffmpeg]
package = "ffmpeg-next"
version = "4.4.0"
optional = true
default-features = false
features = ["codec", "format", "filter", "software-resampling", "software-scaling"]

[features]
default = ["gifsicle"]
openmp = [] # deprecated, obsolete
openmp-static = [] # deprecated, obsolete
video = ["ffmpeg"]
video-static = ["video", "ffmpeg/build"]

[lib]
path = "src/lib.rs"
crate-type = ["lib", "staticlib", "cdylib"]

[profile.dev]
debug = 1
opt-level = 1

[profile.dev.package.'*']
opt-level = 2
debug = false

[profile.release]
panic = "abort"
lto = true
debug = false
opt-level = 3

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
